table, th, td {
    width: 50%;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: aqua;
}
h1 { 
    background-color: bisque;
    text-align: center;
}
caption {
    
}